
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
background-color: #008dc9;
opacity: 0.8;
color: #ffffff;
text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
} 
.styled-table tbody tr {
border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
background-color: #fff;
}

.styled-table tbody tr:last-of-type {
border-bottom: 2px solid #008dc9;
}
.styled-table tbody tr.active-row {
font-weight: bold;
color: #008dc9;
}
.statusBtn{
  float: right;
  background-color: #008dc9;
  width: 110%;
  border: 0px;
  border-radius: 4px;
  color: #fff;
  padding: 8px 12px;
}